
  body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(230, 224, 224);
  }

  h1{
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 0;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 2px;
    -webkit-text-stroke: 4px #000;
    color: transparent;
    
  }


  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
    width: 200px;
    margin: 20px ;
    padding: 20px;
    background-color: #050303;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
  }

  .card-content {
    color: green;
    margin-top: 20px;
    transition: transform 0.3s;;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 #4a90e4;
  }

  /* Apply zoom-in effect on card-content hover */
  .card:hover .card-content {
  transform: scale(1.05); /* Increase scale to zoom in (1.05 for 5% zoom) */
  }

  .card img {
    width: 100%;
    border-radius: 50%;
    transition: border-color 0.3s; /* Add transition for smooth effect */
    border: 3px solid transparent; /* Initial border setup */
  }

  /* Add border to image on card hover */
  .card:hover img {
    border-color: #ffffff; /* Change border color to green (#00a859) */
  }


  .card-title {
    margin: 10px;
    font-size: 20px;
    color: #ffffff;
  }

  .card-description {
    font-size: 20px;
    color: #ffffff;
  }

  .card-date {
    font-size: 5px;
    font-size: 12px;
    color: #ffffff;
  }

  
  
  