.btn{
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    
     /* Centering */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn:hover{
    background-color: green;
}